body {
    margin: 0px;
    overflow: hidden;
    color: white;
    text-align: center;
}

#topContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#views {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

#views > div {
    width: calc(50% - 2px);
    height: 50%;
    border: 1px solid #000000;
    flex-shrink: 1;
    flex-grow: 1;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

#playControls {
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    display: flex;
}