body {
    margin: 0px;
    overflow: hidden;
    color: white;
    text-align: center;
}

#topContainer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
}

#playControls {
    position: absolute;
    left: 25%;
    bottom: 0;
    width: 50%;
    display: flex;
}