.stateControl {
    margin: 0 5px 0 0;
    flex-grow: 0;
    flex-shrink: 0;
}

.stateControl input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    margin: 0;
    padding: 0;
}

.stateControl form {
    margin: 0;
    padding: 0;
    display: flex;
}

.stateControl div {
    flex-grow: 1;
    flex-shrink: 1;
}

.stateControl label {
    background-color: var(--timeline-ctrl-bckg);
    padding: 0 8px 0 5px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    height: var(--timeline-ctrl-height);
    color: var(--timeline-ctrl-fore);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;

    border-width: 3px 3px 3px 0;
    border-style: solid;
    border-color: var(--timeline-ctrl-fore);
}

.firstState {
    border: 3px solid var(--timeline-ctrl-fore) !important;
}

.stateControl label:hover {
    background-color: #ffffff;
}

.stateControl input[type="radio"]:focus + label {
    background-color: #bfb;
}

.stateControl input[type="radio"]:checked + label {
    background-color: #bfb;
}
